<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>ilQuando - scopri il futuro!</title>

    {% include 'include.html' %}
</head>
<body>
<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <div class="span6 offset3">
                <br/>
                <div class="hero-unit text-center">
                    <h1 class="hidden-phone">Quando?</h1>
                    <h2 class="hidden-desktop">Quando?</h2>
                    <p>Scopri il futuro!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="offset3">
                <div class="offset1">
                    <blockquote>
                        <p>
                            Fai la tua domanda "Quando?" e scopri quando accadrà.
                            <small>es: Quando mi comprerò la lamborghini?</small>
                        </p>
                    </blockquote>
                </div>
                <form class="form-inline" method="post">
                    <label for="when" class="font">Quando</label>
                    <input class="span6" id="when" name="when" type="text" placeholder="scrivi la tua domanda..."/>
                    <label class="font">?</label>
                    <button type="submit" class="btn">Controlla</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6 offset3">
            <hr/>
            <a href="{{ burl }}/last">Ultime 50</a> |
            <a href="{{ burl }}/contacts">Contatta</a>
        </div>
        {% include 'footer.html' %}
    </div>
</div>

</body>
</html>